<%- include('partials/header'); -%>

<h1>Home</h1>
<p><%= homeContent %></p>

<% homeNewPosts.forEach( (post) =>{ %>
    <h1> <%= post.title %> </h1>
    <% // console.log(post.title) %>
    <p><%= post.content %></p>
<% }) %>

<%- include('partials/footer'); -%>
